div.content {
    width: 450px;
}
div.image {
    border-radius: 30px;
    width: 72px;
    height: 72px;
    background: url('../images/ela-voltou.jpeg');
    float: left;
    margin-right: 10px;
}
div.text {
    padding: 5px;
    height: 72px;
}
div.config {
    text-align: right;
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}
a:hover strong {
    text-decoration: underline;
}
.grey {
    color: #8899a6;
}
.song-info a {
    color: #3b88c3;
    font-size: 14px;
}